@font-face{
    font-family: 'Fredoka';
    src: url('aset/Fredoka/Fredoka-SemiBold.ttf') format('truetype');;
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Fredoka';
    src: url('aset/Fredoka/Fredoka-Regular.ttf')format('truetype');;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('aset/Poppins/Poppins-Regular.ttf')format('truetype');;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('aset/Poppins/Poppins-Light.ttf')format('truetype');;
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('aset/Poppins/Poppins-Medium.ttf')format('truetype');;
    font-weight: 500;
    font-style: normal;}


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins","Fredoka", sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-masuk {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  display: flex;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.form-section {
  flex: 1;
  padding: 40px 60px;
}

.form-section h2 {
    font-family: 'Fredoka',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 4px;
}

.subtitle {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    margin-bottom: 30px;
}

label {
  display: block;
  font-family: 'Fredoka', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
  color: #000000;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin-bottom: 16px;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
  border-color: #FFA62B;
}

.password-input {
  position: relative;
}

.button-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-70%);
  background: none;
  border: none;
  cursor: pointer;
}

.button-password img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.button-password:hover img {
  opacity: 1;
}
.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #0077ff;
  text-decoration: none;
  margin-top: -10px;
  margin-bottom: 25px;
}

.forgot:hover {
  text-decoration: underline;
}
.btn-masuk {
    margin-top: 5%;
    width: 100%;
    background-color: #ffa62b;
    color: #000000;
    padding: 5px;
    border: none;
    font-family: 'PoppinsMedium', sans-serif;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-masuk:hover {
  background-color: #f58b00;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider hr {
  width: 50%;
  border: none;
  border-top: 1px solid #000000;
}

.divider span {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0 10px;
    font-size: 11px;
    color: #000000;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.social {
  border: none;
  background: none;
  cursor: pointer;
}

.social img {
  width: 32px;
  height: 32px;
}

.login-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.login-text a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #3078F4;
    text-decoration: none;
    font-weight: 400;
}

.image-section {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
    width: 323px;
    height: 526px;
    border-radius: 30px;
}
